<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bent Metal Exteriors</title>

    <style>
        {% include "style.css" %}
    </style>

    {% if css_file %}
      <link rel="stylesheet" href="/{{ css_file }}">
    {% endif %}
</head>
<body>

    <main>
        {{ content | safe }}
    </main>


</body>
</html>