<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-section brand">
            {% include "home_logo.svg" %}
        </div>
        
        <div class="footer-section footer-links">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/about_us">About Us</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact_us">Contact Us</a></li>
            </ul>
        </div>

        <div class="footer-section contact">
            <h4>Contact Us</h4>
            <p><img class="footer-icon" src="/images/icons/phone.svg" alt="Contact us"> <a href="tel:4038908442">(403) 890-8442</a></p>
            <p><img class="footer-icon" src="/images/icons/at-solid-full.svg" alt="email us"> <a href="mailto:info@bentmetal.ca">info@bentmetal.ca</a></p>
            <p><img class="footer-icon" src="/images/icons/location-dot-solid-full.svg" alt="We are located in Calgary"> Serving Calgary and all of Southern Alberta</p>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>&copy; 2026 BENT METAL EXTERIORS. All rights reserved. <a href="/privacy-policy/">Privacy Policy</a></p>
    </div>
</footer>

<div id="toast" class="toast" hidden>
    <i class="fas fa-check-circle"></i>
    Thank you! We will be in contact with you soon.
</div>