<header>
    <div class="logo">
        <a id="logo" class="home_logo" href="/">
            {% include "home_logo.svg" %}
        </a>
    </div>

    <div class="links">
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <a href="/about_us">About Us</a>
        <a href="/faq">FAQ</a>
        <a href="/contact_us">Contact Us</a>
    </div>

    <div class="quote">
        <a href="/contact/" id="header-btn">Get an Estimate</a>
    </div>

    <button class="menu-icon" aria-label="Open menu" aria-expanded="false">
        <img src="/images/icons/bars-solid.svg" alt="">
    </button>

    <div class="mobile-dd">
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <a href="/about_us">About Us</a>
        <a href="/faq">FAQ</a>
        <a href="/contact_us">Contact Us</a>
        <a href="/contact/" class="mobile-estimate-btn">Get an Estimate</a>
    </div>
</header>
